.Card {
	background-color: #353849;
	border-radius: 5px;
	margin: 0 1.5em;
	overflow: hidden;
	width: calc(50% - 1.5em);
}
.Card .image {
	display: block;
}
.Card .image img {
	border-radius: 0;
	width: 100%;
}

.CardContent {
	padding: 1.25em 1.75em 0;
}

@media screen and (max-width: 736px) {
	.Card {
		margin: 0.875em 1.75em 0.875em 0;
		width: calc(50% - 0.875em - 1px);
	}
}

@media screen and (max-width: 980px) {
  .Card {
    margin: 0 1em;
    width: calc(50% - 1em);
  }
}