body.blur {
  overflow: hidden;
}
body.blur > #root {
  filter: blur(2px);
}

.menu {
  background: #4c5c96;
  border-radius: 5px;
  max-width: 100%;
  padding: 1.5em;
  position: relative;
  text-align: center;
  width: 18em;
}

.backdrop {
  align-items: center;
  background: rgba(46, 49, 65, 0.8);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.menu .close {
  background: url('/images/close.svg');
  background-size: cover;
  border: 0;
  box-shadow: none;
  display: block;
  height: 3em;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-indent: 3em;
  top: 0;
  width: 3em;
}

.menu h1,
.menu h2,
.menu h3,
.menu h4,
.menu h5,
.menu h6 {
  border-bottom: solid 2px rgba(255, 255, 255, 0.125);
  padding-bottom: 1em;
}

.menu .links {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

.menu .links li {
  padding: 0;
}

.menu .links li a {
  border: 0;
  border-radius: 5px;
  display: block;
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 200;
  letter-spacing: 0.1em;
  line-height: 1.85em;
  padding: 0.75em 0;
  text-transform: uppercase;
}

.menuBtn {
  box-shadow: none;
  height: 3em;
  line-height: 1;
  margin-right: -1.25em;
  overflow: hidden;
  padding: 0;
  text-indent: -5em;
  white-space: nowrap;
  width: 4em;
}
.menuBtn::after {
  content: '\f0c9';
  font-family: FontAwesome;
  margin-left: 1.75em;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  padding: 0;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 640px) {
  .menuBtn {
    border-radius: 5px;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.125);
    margin-right: 0;
    padding: 0 1em;
    text-indent: 0;
    width: auto;
  }
  .menuBtn::after {
    margin-left: 0.75em;
  }
}
