.menu {
	padding: 1.5em;
	background: #4c5c96;
	border-radius: 5px;
	max-width: 100%;
	position: relative;
	width: 18em;
}

.backdrop {
	align-items:center;
	background: rgba(46, 49, 65, 0.8);
	display: flex;
	justify-content: center;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 10001;
}

.menu .close {
	background: url("/images/close.svg");
	background-size: cover;
	border: 0;
	box-shadow: none;
	display: block;
	height: 3em;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: center;
	text-indent: 3em;
	top: 0;
	width: 3em;
}